
    
*{
    margin: 0;
    padding: 0;
}
.body{
    height: 800px;
    width: 450px;
}
.div-root{
    background-color: rgb(255, 255, 255);
    height: 800px;
    width: 450px;
    opacity: 0.9;
    z-index: 1;
}
.header{
    background-color: rgb(255, 255, 255);
    height: 4%;
    width: 100%;
    box-shadow: 0px 0px 5px 0px gray;
    z-index: 5;
}
.ul{
    display: flex;
    background-color: rgb(255, 255, 255);
    
}
.a1{
    margin-left: 40px;
    color: rgb(83, 83, 83);
    text-decoration: none;
}
.a1:hover{
    color: rgb(213, 101, 45);
    
}
@media screen and (max-width:767px) {
    .block{
    background-color: rgb(163, 32, 32);
    position: absolute;
    width: 100px;
    height: 0px;
    margin-top: 35px;
    left: 300px;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 10px;
    transition: all 100s ease-out;
    z-index: 10;
}

.dropdown-trigger {
    color: rgb(83, 83, 83);
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-left: 40px;
}
.dropdown-trigger:hover {
    color: rgb(213, 101, 45);
}
            
.dropdown-menu {
    background-color: white;
    width: 150px;
    height: 0;
    margin-top: 10px;
    left: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
            
.dropdown-container:hover .dropdown-menu {
    height: 180px;
    opacity: 1             
}          
.dropdown-menu a {
    color: #8a8a8a;
    text-decoration: none;
    display: block;
    padding: 12px 15px;
    font-size: 14px;
    transition: all 0.2s ease;
    border-bottom: 1px solid #f0f0f0;
}
.a2:hover{
    color: rgb(213, 101, 45);
    display: block;
    text-decoration: none;
}           
}