@media screen and (max-width:767px) {
*{
    margin: 0;
    padding: 0;

}
.root{
    background-color: rgb(216, 228, 255);
    height: 800px;
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
.center-body:hover{
    transition: all 1s ease-in-out;
    height: 80%;
    opacity: 0.8;
    
.btn{
    transition: all 10s;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 50%;
    padding: 0;
    border: 0;
    background-color: rgb(83, 83, 83);
    box-shadow: 0px 0px 5px 0px black;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}
.btn:hover{
    border-radius: 0%;
    width: 100px;
    transition: all 0.5s ease-in-out;
    border-radius: 50px;
}
.foot{
    margin-top: 5px;
    display: flex;
    background-color: rgb(31, 31, 31);
    flex-direction: column;
    height: 10%;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
}
.logo{
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
    background-color: rgb(31, 31, 31);
    border-radius: 20px 20px 0px 0px;
    height: 10%;
    display: flex;
}
.p{
    font-size: 25px;
    color: aliceblue;
    margin: auto;
    transition: all 2s;
    opacity: 1;
}
.form{
   transition: all 3s ease-in;
   opacity: 0.8;
   display: flex;
   flex-direction: column;  
   width: 80%;
   height: 50%;
   margin: auto;
   align-content: center;
   justify-content: center;
   background-color: rgb(31, 31, 31);
}
input{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #666;
    width: 80%;
    height: 45px;
    color: #eee;
    font-size: 18px;
    margin-top: 40px;
}

}
@media screen and (min-width:1024px) {
    .background2{
    position: absolute;
    height: 800px;
    width: 450px;
    opacity: 1; 
}
    .background{
        opacity: 0;
    }
}
.background2{
    position: absolute;
    height: 800px;
    width: 450px;
    opacity: 0;
}
.background{
    position: absolute;
    height: 800px;
    width: 450px;
    opacity: ;

}   
.center-body{
    background-color: rgb(31, 31, 31);
    width: 80%;
    height: 5%;
    border-radius: 20px;
    box-shadow:  -1px -1px 5px 0px rgb(255, 255, 255),2px 2px 8px 0px rgb(35, 35, 35);
    opacity: 0.5;
    margin: auto;
    transition: all 1s ease-in-out;
}
.logo{
    background-color: rgb(31, 31, 31);
    height: 0%;
    display: flex;
    flex: 1;
}
.p{
    font-size: 25px;
    color: aliceblue;
    margin: auto;
    opacity: 0;
}
.form{
   opacity: 0;
   display: flex;
   flex-direction: column;  
   flex: 3;
   
}
.a{
    background-color: rgb(31, 31, 31);
    display: flex;
    text-decoration: none;
    
}
.btn{
    width: 0px;
    height: 0px;
    margin: auto;
    margin-bottom: 0;
    border-radius: 50%;
    padding: 0;
    border: 0;
    background-color: rgb(83, 83, 83);
    box-shadow: 0px 0px 5px 0px black;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
.btn:hover{
    border-radius: 0%;
    width: 100px;
    transition: all 0.5s ease-in-out;
    border-radius: 50px;
    transition: 2s;
    opacity: 1;
}
.foot{
    display: flex;
    background-color: rgb(31, 31, 31);
    flex-direction: column;
    height: 0%;
    flex: 1;
}

}