@media screen and (min-width: 1024px) {
.imgs{
    width: 0px;
    height: 0px;
}    

.img{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;  
    background-attachment: fixed;
}
.content{
    width: 960px;
    height: 30vh;
    margin: 0 auto;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.p1{ background-image: url(./pictures/p1.png);}
.p2{background-image: url(./pictures/p2.png);}
.p3{background-image: url(./pictures/p3.png);}
.p4{background-image: url(./pictures/dream.jpg);}
}
@media screen and (max-width:767px) {
.imgs{
width: auto;
height: auto;
}
.content{
width: 1000px;
height: 200px;
text-align: justify;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}













}