.center-body2{
    background-color: rgb(31, 31, 31);
    width: 80%;
    height: 5%;
    border-radius: 20px;
    box-shadow:  -1px -1px 5px 0px rgb(255, 255, 255),2px 2px 8px 0px rgb(35, 35, 35);
    opacity: 0.5;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 1s ease-in-out;
}
.a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    margin-top: 50px;
    opacity: 0;
    transition: all 5s ease-in-out;
    margin-left: 120px;
}
.a:hover{
    color: rgb(200, 200, 200);
    transition: all 0.5s ease-in-out;
    opacity: 1;
}
