@media screen and (max-width:767px) {
    

.o{
    display: flex;
    flex-wrap: wrap;

}
.b{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 4px rgb(84, 84, 84);
    border-radius: 10px;
    transition: all 0.5s ease-out;
}
.b:hover{
    box-shadow: 0px 0px 0px 0px rgb(84, 84, 84);
    transition: all 0.5s ease-in-out;
}
}
@media screen and (min-width:1024px) {
    .o{
        display: flex;
        flex-wrap: wrap;
    }
    .b{
        width: 400px;
        height: 220px;
        margin-left: 40px;
        margin-top: 25px;
        box-shadow: 0px 0px 10px 4px rgb(84, 84, 84);
        border-radius: 10px;
        transition: all 0.5s ease-out;
    }
    .b:hover{
        box-shadow: 0px 0px 0px 0px rgb(84, 84, 84);
        transition: all 0.5s ease-in-out;
    }
}