.root{
    background-color: rgb(216, 228, 255);
    height: 800px;
    width: 450px;
    display: flex;
    flex-direction: column;
    
}
.center-body{
    background-color: rgb(216, 228, 255);
    width: 75%;
    height: 80%;
    border-radius: 40px;
    box-shadow:  -8px -8px 8px 0px rgb(255, 255, 255),8px 8px 8px 0px rgb(140, 140, 140);
    opacity: 0.9;
    margin: auto;

}
.logo{
    background-color: aqua;
    width: 35%;
    height: 10%;
    margin: auto;
    margin-top: 10%;
}
.form{
    justify-content: end;
  
    
}